.loginDiv {
  width: 80%;
  margin-left: 10%;
  margin-top: 7%;
  padding: 5%;
  border-radius: 15px;
  background-color: white;
}

.mystyle {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body {
  background-color: #e5e5e5 !important;
}
@media screen and (max-width: 600px) {
  body {
    background-image: url(../assets/loginIMG.jpeg);
  }
  .loginDiv {
    margin: 13.5%;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15%;
    border-radius: 15px;
    width: 125%;
  }
  .navBar {
    height: 75px !important;
  }
}
.headings {
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 250% !important;
  line-height: 150% !important;
  display: flex !important;
  fill: #000000 !important;
  color: #000000;
}
.textInGreen {
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 150% !important;

  display: flex !important;
  color: #06a561 !important;
  margin-top: 5% !important;
}
.error {
  color: red;
  display: flex;
  margin-bottom: 0 !important;
}
.size-150 {
  font-size: 150% !important;
}
.styledInput {
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.4375em;
  border-radius:5px;
  border: 1px solid #909492!important;
  width: 100%;
  padding: 6px 10px;
}
.styledInput:hover {
  border: 1px solid #06A561!important;
  
}
.styledInput:focus {
  border: 1px solid #06A561!important;
  outline: none!important;
  background-color:rgba(6, 165, 97, 0.1);

  transition: width 200ms ease-out;
}
.width-80 {
  width: 80%;
}
.styledRegister {
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  margin-top: 25%;;
  color: #06a561 !important;
  text-transform: none !important;
  text-decoration: none !important;
  height: 23px;
}

.styledButtonForL {
  font-weight: normal;
  font-style: normal;
  text-transform: none !important;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  float: right;
  width: 35% !important;
  margin-top: 10% !important;
  background-color: #06a561 !important;
  border-radius: 20px !important;
}
.marginR {
  margin-right: 20% !important;
}
.newUser {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 22.5px;
  margin-top: 15% !important;
  color: #000000;
  float: right;
}

.styledButtonForR {
  display: flex;
  float: right;
  font-weight: normal;
  width: 90%;
  height: 40%;
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  margin-top: 25% !important;
  color: #ffffff;
  background-color: #06a561 !important;
  border-radius: 20px !important;
}
.flexRegister{
  justify-content: center!important;
    display: flex;
    align-items: flex-end;
}