.container
{
  margin-top: 1px;
  margin-bottom: 5px  ;
  
}
 .feed{
  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 40px !important;
  line-height: 60px !important;

 }
 .user-info-ra{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    bottom: 3px;
  }
 .user-name-ra{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
    position: relative;
    margin-top: 7px !important;
    margin-left: 5px !important;
    font-family: Poppins !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 22px !important;  
    /* color: white !important; */
  } 
  .profile-pic-ra{
    display: flex;
    border-radius: 50% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: relative;
    
  }
  .recipe-name-try-it
    {
      display:flex;
    flex-direction: row;
    justify-content: space-between !important;
        }
   .recipe-name-ra{
     overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  position: relative;
    /* color: white !important; */
    
    font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  }
  .try-it-btn
  {
    color:white !important; 
  }
  
    .btn{
      display: flex;
      float: right !important;
      margin-bottom: 1.5px !important;
      background-color: #58971C !important;  
      border-radius: 80px !important;
      width: 0.2px !important;
     height: 0.2px !important;
     font-size: 8px !important;
    text-align: center;
    }
    .MuiButton-contained {
      color: white !important;
    }
    .user-info-tags{
      display: flex;
      justify-content: space-between;
    }
.card-content{
  width: 68px !important;
}